:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --grey-color: #757575;
  --text-color: #212121;
  --background-color: #f5f4fa;
  --hero-color: #2f303a;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*header*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.divclass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  border-bottom: 1px solid black;
  padding: 15px;
}

.menu {
  display: flex;
}

.contacts {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.contact-container {
  display: flex;
}

.logo-end {
  color: var(--text-color);
  margin-right: 93px;
}

.menu {
  align-items: center;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.menu-item:not(:last-child) {
  padding-right: 50px;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--grey-color);
}

.contact-item:not(:last-child) {
  padding-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--hero-color);
  padding: 200px;
  width: 1600px;
}

.main-title {
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.main-btn {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: #2196f3;
  color: var(--white-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*Specification*/

.spec-section {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.spec-list {
  margin-top: 94px;
}

.spec-list:not(:last-child) {
  margin-right: 30px;
}

.spec-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color);
}

.spec-list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--grey-color);
}

/*What are we doing*/

.section-container {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;

  color: var(--text-color);
}

/*team*/

.team-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}

.worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.worker-igor {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 59px;
}

.worker-olga {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 81px;
  margin-right: 80px;
}

.worker-misha {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 68px;
  margin-right: 68px;
}

.worker-mykola {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 67px;
  margin-right: 66px;
}

.worker-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--grey-color);
}

.worker-igor-text {
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.worker-olga-text {
  margin-bottom: 30px;
  margin-left: 62px;
  margin-right: 61px;
}

.worker-mykola-text {
  margin-bottom: 30px;
  margin-left: 97px;
  margin-right: 97px;
}

.worker-misha-text {
  margin-bottom: 30px;
  margin-left: 92px;
  margin-right: 91px;
}

/*Footer*/

.logo-end-footer {
  color: var(--white-color);
}

.navigation {
  display: flex;
}

.footer {
  display: flex;
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  margin: 0px auto;
}

.footer-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
}

.nav-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.link:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address-link:focus,
.address-link:hover {
  color: var(--accent-color);
}

/*Portfolio-page*/

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: var(--background-color);
  border-radius: 4px;
  border: var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

.gallery-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-list-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--grey-color);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-bottom: 94px;
  /*margin-right: -30px;*/
}

.gallery-item {
  flex-basis: calc(100% / 3);
  margin-bottom: 30px;
}

.gallery-item:nth-child(7) {
  margin-bottom: 0px;
}

.gallery-item:nth-child(8) {
  margin-bottom: 0px;
}

.gallery-item:nth-child(9) {
  margin-bottom: 0px;
}
